@import url(../src/stylesheet/header.css);
@import url(../src/stylesheet/global.css);
@import url(../src/stylesheet/categories.css);
@import url(../src/stylesheet/breadcrumbs.css);
@import url(../src/stylesheet/categoriesList.css);
@import url(../src/stylesheet/listDetail.css);
@import url(../src/stylesheet/cart.css);
@import url(../src/stylesheet/order.css);

.main-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* text-align: center; */
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  /* height: 40vmin;
  pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}
